<div class="flex flex-col h-48 md:h-64 justify-center items-center">
  <h1
    class="text-4xl tracking-widest font-bold text-center leading-tight sm:text-6xl lg:text-7xl bg-slate-900 px-10 py-8"
  >
    <span
      class="bg-clip-text text-transparent py-4 bg-gradient-to-r from-pink-500 to-violet-500"
    >
      Astro <br class="sm:hidden" />microCMS BLOG
    </span>
  </h1>
</div>
