---
import Container from '@components/common/Container.astro'
import Section from '@components/common/Section.astro'
import SectionHading from '@components/common/SectionHading.astro'
import BlogCardAnchorList from '@components/features/blog/BlogCardAnchorList.astro'
import Heading from '@components/features/home/Heading.astro'
import Layout from '@layouts/Layout.astro'
import { getTOPSettings } from '@lib/microCMS/getContents'

const { recommended_blogs } = await getTOPSettings({ depth: 2 })
---

<Layout>
  <Heading />
  <Section>
    <Container>
      <SectionHading>Recommended blogs</SectionHading>
      <BlogCardAnchorList blogs={recommended_blogs} />
    </Container>
  </Section>
</Layout>
